* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

/*    <!-- Start Intro Section -->*/
.contact-intro-section {
  text-align: right;
}

.contact-intro-section .card-body {
  background-color: #f2f2f2;
  font-size: medium;
  height: 25vh;
}

.contact-intro-section .card-body h2 {
  padding-top: 2%;
}

.contact-intro-section iframe {
  width: 100%;
}

@media (max-width: 768px) {
  .contact-intro-section .card-body h2 {
    font-size: medium;
  }
  .contact-intro-section .card-body {
    height: auto;
  }

  .contact-intro-section iframe {
    height:max-content;
    width: auto;
  }
}
.contact-us-section .card-body{
  border: none;
}
/*    <!-- End Intro Section -->*/
